*.elc
*~

places
ac-comphist.dat
backups/
elpa/
el-get/
auto-save-list/
tramp
url/
py.txt
semanticdb/
abbrev_defs
tutorial/
.session
image-dired
bookmarks

custom.el
my-autoloads.el
projectile-bookmarks.eld
test.el

/eshell/history
/eshell/lastdir

/defuns/loaddefs.el
